<a href="https://colab.research.google.com/github/amp1415/HHA-507-Streamlit/blob/main/Stat_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##IMPORT PACKAGES

In [ ]:
import pandas as pd 
!pip install sweetviz
!pip install pyjanitor 
from janitor import clean_names, remove_empty 
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob

In [ ]:
from pandas_profiling import ProfileReport

###LOADING FILES

In [ ]:
hospitaldf = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/hospital_info.csv')

In [ ]:
hospitaldf

In [ ]:
outpatientdf = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/outpatient_2015.csv')
outpatientdf

In [ ]:
inpatientdf = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/inpatient_2015.csv')
inpatientdf

FIND SIZE BY LENGTH BY ROW (SMALL TO BIG)

In [ ]:
print ('hospital_info:' , len(hospitaldf))

hospital_info: 5314

In [ ]:
print ('outpatient_info:' , len(outpatientdf))

outpatient_info: 32532

In [ ]:
print ('inpatient_info:' , len(inpatientdf))

inpatient_info: 201876

EXPLORING EACH DATASET

In [ ]:
list (hospitaldf)

In [ ]:
list (outpatientdf)

['provider_id',
 'provider_name',
 'provider_street_address',
 'provider_city',
 'provider_state',
 'provider_zipcode',
 'apc',
 'hospital_referral_region',
 'outpatient_services',
 'average_estimated_submitted_charges',
 'average_total_payments']

In [ ]:
list (inpatientdf)

['provider_id',
 'provider_name',
 'provider_street_address',
 'provider_city',
 'provider_state',
 'provider_zipcode',
 'drg_definition',
 'hospital_referral_region_description',
 'total_discharges',
 'average_covered_charges',
 'average_total_payments',
 'average_medicare_payments']

Data Cleaning and Merge Prep

In [ ]:
outpatientdf2 = outpatientdf.dropna()
outpatientdf2.sample(20)

In [ ]:
inpatientdf2 = inpatientdf.dropna()
inpatientdf2.sample(20)

In [ ]:
newhospitaldf1 = hospitaldf[hospitaldf['hospital_overall_rating'].notna()] 
newhospitaldf1['hospital_overall_rating'].isna().sum()
newhospitaldf2 = hospitaldf[hospitaldf['readmission_national_comparison'].notna()]
newhospitaldf2['readmission_national_comparison'].isna().sum()
0
newhospitaldf3 = hospitaldf[hospitaldf['patient_experience_national_comparison'].notna()] 
newhospitaldf3['patient_experience_national_comparison'].isna().sum()
0
newhospitaldf4 = hospitaldf[hospitaldf['efficient_use_of_medical_imaging_national_comparison'].notna()] 
newhospitaldf4['efficient_use_of_medical_imaging_national_comparison'].isna().sum()

Need to make 1 whole df for hosptial data

In [ ]:
hospital_merged1 = pd.concat([newhospitaldf1,newhospitaldf2])
hospital_merged1.sample(20)

In [ ]:
hospital_merged2 = pd.concat([newhospitaldf3,newhospitaldf4])
hospital_merged2.sample(20)

In [ ]:
final_hospital = pd.concat([hospital_merged1,hospital_merged2])
final_hospital.sample(20)

Merge!

In [ ]:
outpatientdf2['provider_id'] = outpatientdf['provider_id'].astype(str)
inpatientdf2['provider_id'] = inpatientdf['provider_id'].astype(str)
final_hospital['provider_id'] = hospitaldf['provider_id'].astype(str)

In [ ]:
inpatient_hospital = inpatientdf2.merge(final_hospital, how = 'left', left_on='provider_id', right_on='provider_id')
inpatient_hospital.sample(20)

Looking into SBU

In [ ]:
SBU= hospitaldf[hospitaldf['hospital_name'] == 'SUNY/STONY BROOK UNIVERSITY HOSPITAL']
SBU

     provider_id  ... location
2139      330393  ...      NaN

[1 rows x 29 columns]

In [ ]:
sbu_in = inpatientdf[inpatientdf['provider_id'] == 330393]
sbu_in

In [ ]:
sbu_out = outpatientdf[outpatientdf['provider_id'] == 330393]
sbu_out

In [ ]:
NY_info = hospitaldf[hospitaldf['state'] == 'NY']
NY_info.sample(15)

In [ ]:
NY_inpatient = inpatientdf[inpatientdf['provider_state'] == 'NY']
NY_inpatient.sample(15)

In [ ]:
NY_outpatient = outpatientdf[outpatientdf['provider_state'] == 'NY']
NY_outpatient.sample(15)